.list-group {
    line-height:30px;
}

.button-stop:hover{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

button:not(.button-stop):hover {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.container {
    max-width: 400px;
}

.pi-icon {
    height: 36px;
}